<div class="container mt-3">
    {{#unless loading}}
    <div class="card w-100 border-0">
       <div class="row">
          <div class="col-6">
             <p class="mt-2 ml-2">{{users.length}} contestant(s)</p>          
          </div>
          <div class="col-6">
             <button class="btn btn-primary btn-sm float-right" 
                            onclick={{action 'sortLastName'}}>
                            <i class="fa fa-lg fa-sort-alpha-{{if sortedUp 'down' 'up'}} text-white"></i>
             </button>
          </div>
       </div>
    </div>    
    <div class="container w-100">
		{{#each users as |u|}}
			{{show-user user=u  reload='doReload'}}
		{{else}}
		    <div class="card mt-3">
		       <div class="card-body text-center">
		          <i class="fa fa-theater-masks fa-3x mt-4"></i>
		          <h4>Please, add your contestants!</h4>
		       </div>
		    </div>	
		{{/each}}
    </div>
    {{/unless}}
</div>
